@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');

:root {
    --primary-color:#009900;

}

.headline {
    text-align: center;
    font-family: Poppins;
    font-size: 35px;
    font-weight: 600;
}

.headline-our {
    text-align: center;
    font-family: Poppins;
    font-size: 35px;
    font-weight: 600;
    padding-top: 2rem;
}

.hero{
    background-image: url("../../Images/white-wall.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    padding-bottom:9rem;
    padding-top:13rem;
    background-position-y: -197px;
}

.hero .container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
 
}

.hero-contant-left {
    max-width: 40rem;
    width: 100%;
}

.hero-contant-left h2{
	font-family: Poppins;
    color: #000;
	font-size: 43px;
	line-height: 1.2em;
    margin-top: -5rem;
}

.hero .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-contant-left p{
	font-family: Poppins;
	font-size: 16px;
	line-height: 25px;
    color: #000;
	font-style: normal;
	font-weight: 400;
}

.tree-plant p{
    font-family: Poppins;
    text-align: center;
    max-width: 60rem;
    width: 100%;
    margin: auto;
    padding-top: 0rem;
    padding-bottom: 3rem;
}
.vmp-con {
    display: flex;
    width: 100%;
    max-width: 60rem;
    margin: auto;
    padding-bottom: 3rem;
}

.card3{
    float: center;
    border: 1px;
    margin: 3rem;
    border-radius: 25px;
    box-shadow:3px 3px 3px 3px darkgray;
    padding-bottom: 2rem;
}

.card3-container{
    text-align: center;
}

.card3-container i{
    font-size: 50px;
}

.card3 p{
    font-family: Poppins;
    max-width: 100%;
    width: 12rem;
    margin: 1rem;
}

.ChairmansMessage{
    background-color:rgb(210, 231, 219);
    width:100%;
    height: 300px;
    margin:auto;
    padding-top: 1rem;
    padding-bottom: 9rem;
}
.ChairmansMessage p{
    padding: 0rem 8rem;
    max-width: 100%;
    text-align: center;
    padding-bottom: 1rem;
}

.ChairmansMessage footer{
    max-width: 100%;
    text-align: center;
}



.Contributions p{
    padding:0rem 8rem;
    font-family: Poppins;
    text-align: center;
    max-width: 60rem;
    width: 100%;
    margin: auto;
    padding-top: 0rem;
    padding-bottom: 3rem;
}


.card-container{
    text-align: center;
    
}

.card i{
    font-size: 50px;
}

.card p{
    font-family: Poppins;
}

.card a{
    line-height:48px;
	font-weight:500;
	text-align:center;
	border: 1px solid var(--primary-color);
	font-size: 15px;
	font-family: Poppins;
	border-radius:50px;
    padding: 0.8rem;
	color:#fff;
	box-shadow: 0px 5px 8px 0px rgb(230, 138, 0 /55%);
	background-color: var(--primary-color);
	text-decoration:none;
    margin: 3rem 0;
}

.card a:hover{
    color: #fff;
    font-size: 17px;
    padding: 1rem;
    transition: all .3s ease-out 0s;
}
.card a:active{
    color: #fff;
}

.card{
    width:250px;
    height:300px;
    border: 1px;
    margin: 3rem;
    border-radius: 25px;
    box-shadow:3px 3px 3px 3px darkgray;
    padding-bottom: 2rem;
}

.our-project-contain .card .card-container .Mission{
    text-align: center;
    font-family: Poppins;
    text-align: center;
    font-size: 25px;
}
.our-project-contain{
    display:flex;
    margin:auto;
    max-width: 60rem;
}

.Touch h4{
    text-align: center;
}

.contri p{
    font-family: Poppins;
    text-align: center;
    max-width: 60rem;
    width: 100%;
    margin: auto;
    padding-top: 20px;
}

.card2{
    border: 1px;
    margin: 3rem;
    padding: 3rem;
    border-radius: 25px;
    box-shadow:3px 3px 3px 3px darkgray;
    padding-bottom: 2rem;
}

.card2-container h4{
    font-family: Poppins;
    text-align: center;
    font-size: 25px;
    margin-top: 0;
}

.tree-plant-con {
    display: flex;
    width: 100%;
    max-width: 57rem;
    margin: auto;
    padding-bottom: 3rem;
}
.card2-container{
    text-align: center;
}

.card2-container i{
    font-size: 50px;
}

.card p{
    font-family: Poppins;
}

.card2 a{
    line-height:48px;
	font-weight:500;
	text-align:center;
	border: 1px solid var(--primary-color);
	font-size: 15px;
	font-family: Poppins;
	border-radius:50px;
    padding: 0.8rem;
	color:#fff;
	box-shadow: 0px 5px 8px 0px rgb(230, 138, 0 /55%);
	background-color: var(--primary-color);
	text-decoration:none;
    margin: 3rem 0;
}

.card2 a:hover{
    color: #009900;
    background-color:white;
}
.card2 a:active{
    color: #fff;
}