.headline {
    text-align: center;
    font-family: Poppins;
    font-size: 35px;
    font-weight: 600;
}

.hero{
    background-image: url("../../Images/beach.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    padding-bottom:15rem;
    padding-top:13rem;
    background-position-y: -197px;
}

.hero .container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
 
}

.hero-contant-left {
    max-width: 40rem;
    width: 100%;
}

.hero-contant-left h2{
	font-family: Poppins;
    color: #000;
	font-size: 43px;
	line-height: 1.2em;
    margin-top: -5rem;
}

.hero .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-contant-left p{
	font-family: Poppins;
	font-size: 16px;
	line-height: 25px;
    color: #fff;
	font-style: normal;
	font-weight: 400;
    padding-bottom: 4rem;
}

.headline-our {
    text-align: center;
    font-family: Poppins;
    font-size: 35px;
    font-weight: 600;
    padding-top: 2rem;
}

.tree-plant p{
    font-family: Poppins;
    text-align: center;
    max-width: 60rem;
    width: 100%;
    margin: auto;
    padding-top: 20px;
    padding-bottom:3rem;
    
}